
<% provide(:title, "Top") %>

<h1 class="titlecolor">オンラインレッスン管理アプリ</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      
    </div>
    
    <div class="col-sm-3">
      <h2 class="subtitlecolor">ログインはこちらから</h2>
      <p class="subtitlesize"><%= link_to "ログイン", login_path, class: "btn btn-lg btn-info" %></p>
    </div>
    
    <div class="col-sm-3">
      <h2  class="subtitlecolor">新規登録はこちらから</h2>
      <p class="subtitlesize2"><%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-success" %></p>
    </div>
    
    <div class="col-sm-3">
      
    </div>
  </div>
  
  
  
</div>
