
<% provide(:title, "Top") %>

<h1 class="titlecolor">子供英会話オンラインレッスン管理アプリ</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      
    </div>
    
    <div class="col-sm-3">
       <div class="box30">
         <div class="box-title">ログインはこちらから</div>
         <p class="subtitlesize"><%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %></p>
       </div>
      
    </div>
    
    <div class="col-sm-3">
      <div class="box30">
         <div class="box-title">新規登録はこちらから</div>
         <p class="subtitlesize2"><%= link_to "新規生徒登録", signup_path, class: "btn btn-lg btn-success" %></p>
       </div>
      
    </div>
    
    <div class="col-sm-3">
      
    </div>
  </div>
  
  
  
</div>
