@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  background:url(https://flowerillust.com/img/flower/flower-back0819.jpg);
  background-size: 100% auto; 
  background-repeat: no-repeat;
  
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  background-color: white;
}

td {
  background-color: white;
}

.center {
  text-align: center;
}

.center h1 {
  font-size:250%;
  margin-bottom: 10px;
}
/* top.html */
 .jumbotron {
   
   height: 250px;
 }
 
 .titlecolor {
   color: #364e96;/*文字色*/
  border: solid 3px #364e96;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
  margin-left: auto;
  margin-right: auto;
  background-color: white;
 }
 
 .subtitlecolor {
   position: relative;
  padding: 0.5em;
  background: #C70039;
  color: white;
  margin-bottom: 20px;
 }
 
 .subtitlecolor:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

.subtitlesize {
  text-align: center;
}

.subtitlesize2 {
  text-align: center;
}




/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* error_messages */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}


/* モーダルウインドウの位置調整 */

.modal-dialog-center {
  padding-top: 10%;
}

.border {
  border: solid 3px black;
}

td, th { border: 2px black solid; }

/* 背景 */

.back_image {
  
  
  
}

.show_back {
  background-color: #ffc0cb;
}

.show1_back {
  background-color: #98fb98;
}

.show2_back {
  background-color: #e0ffff;
}

.show3_back {
  background-color: #ffffe0;
}

.show5_back {
  background-color: white;
}

.box30 {
    margin: 2em 0;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box30 .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box30 p {
    padding: 15px 20px;
    margin: 0;
}