<h1>生徒からの質問</h1>

 <% @user_name.each do |username| %>
   <h3 align="center"><%= "#{username}からの質問" %></h3>
 <table class="table table-bordered">  
   <thead>
      <tr>
          <th>質問内容</th>
      </tr>
    </thead>
    
    <tbody>
     <% user = User.find_by(name: username) %>
      <% inquiries = user.inquiries.where.not(content: nil) %>
       <% inquiries.each do |inquiry| %>
        <tr>
          <td><%= inquiry.content %><%= link_to "削除", " /users/:user_id/inquiries/:id", method: :delete, class: "btn btn-primary", data: { confirm: "質問を削除してよろしいですか？" } %></td>
        </tr>
       <% end %>
    </tbody> 
 </table>
 <% end %>